/dist/
/build/
/nbproject/private/
/HomeCinema-ejb/build/
/HomeCinema-ejb/dist/
/HomeCinema-ejb/nbproject/private/
/HomeCinema-war/build/
/HomeCinema-war/dist/
/HomeCinema-war/nbproject/private/
/HomeCinema-lib/build/
/HomeCinema-lib/dist/
/HomeCinema-lib/nbproject/private/
/HomeCinemaAdmin-war/nbproject/private/
/HomeCinemaAdmin-war/build/
/HomeCinemaAdmin-war/dist/
/HomeCinema-client/nbproject/private/
/HomeCinema-client/build/
/HomeCinema-client/dist/
*~
lib-external/gf-client.jar

/HomeCinema-client-abdou/nbproject/private/