 
/HomeCinema-war/nbproject/build-impl.xml
/HomeCinema-war/nbproject/ant-deploy.xml
/Admin/nbproject/build-impl.xml
/HomeCinema-ejb/nbproject/ant-deploy.xml
/Admin/nbproject/ant-deploy.xml
/nbproject/build-impl.xml
/ViewToModelInterface/nbproject/build-impl.xml
/nbproject/ant-deploy.xml
/HomeCinema-ejb/nbproject/build-impl.xml
/HomeCinema-war/nbproject/genfiles.properties
/ViewToModelInterface/nbproject/genfiles.properties
/HomeCinema-ejb/nbproject/genfiles.properties
/nbproject/genfiles.properties
/Admin/nbproject/genfiles.properties