body {
  background: -webkit-linear-gradient(left, #111, #666, #666, #666, #111);
  color: #fff;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body header {
    margin-bottom: 20px;
    margin-top: 0; }
    body header #logo {
      display: inline-block; }
    body header #banner-img {
      margin: auto;
      width: 664px;
      margin-top: -89px; }
    body header #logo {
      padding: 0 20px; }
      body header #logo img {
        height: 80px; }
    body header #banner {
      color: #000;
      background: linear-gradient(to bottom, #fff 0, #eee 100%);
      border-bottom: 3px inset #729d47; }
    body header .decale-right {
      margin-right: 5px; }
    body header .userTools {
      z-index: 10000;
      background: -webkit-linear-gradient(left, #111, #666, #666, #666, #111);
      display: inline-block;
      position: fixed;
      right: 0;
      top: 0;
      padding: 2px 20px;
      border-radius: 0 0 0 50px;
      font-size: 12px; }
      body header .userTools form {
        display: inline-block; }
      body header .userTools a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px; }
    body header #form-login {
      z-index: 10000;
      display: none;
      position: absolute;
      right: 0;
      top: 20px;
      background: -webkit-linear-gradient(left, #111, #666, #666, #666, #111);
      padding: 10px; }
    body header .col-19 {
      width: 19%; }
    body header .navbar-nav > li:hover {
      background: #ADD881; }
    body header .navbar-collapse .pull-right {
      margin-right: -30px; }
  body #search-form input[type="search"] {
    padding: 6px 6px; }
  body section .well-exclus {
    margin-top: 5px; }
  body section .exclus .film {
    position: relative; }
    body section .exclus .film img {
      width: 100%;
      border-radius: 5px;
      box-shadow: 2px 2px 3px #080808; }
      body section .exclus .film imghover {
        top: 2px; }
  body section .well {
    color: #333; }
    body section .well .well-title {
      margin: 0 auto 20px 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #729d47; }
  body section .film_title {
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    width: 100%; }
  body section .form-signin {
    padding: 15px;
    float: none;
    margin: 0 auto;
    color: #000; }
    body section .form-signin .form-signin-heading, body section .form-signin .checkbox {
      margin-bottom: 10px;
      text-align: center; }
    body section .form-signin legend {
      text-align: center; }
    body section .form-signin .checkbox {
      font-weight: normal; }
      body section .form-signin .checkbox input[type="checkbox"] {
        float: none;
        margin: 0 5px; }
    body section .form-signin .form-group > .form-label {
      font-weight: normal;
      text-align: right;
      padding: 2px;
      line-height: 2; }
    body section .form-signin input[type="date"] {
      width: 80%; }
    body section .form-signin input[type="reset"] {
      margin: 0 15px; }
    body section .form-signin i.required {
      color: red; }
  body footer .footer-elem {
    margin: auto;
    text-align: center; }
    body footer .footer-elem ul {
      margin: 0;
      padding: 0; }
      body footer .footer-elem ul li {
        list-style: none; }
  body .info-film {
    width: 64%;
    text-align: justify;
    float: right;
    padding-left: 18px; }
  body .info-film ul {
    padding-left: 12px; }
  body .cover-film {
    width: 36%;
    float: left; }
  body .form-liste-film {
    height: 32px;
    margin-top: 15px; }
  body .form-download-film {
    float: right;
    height: 32px;
    margin-top: -5px; }
  body .b22 {
    margin-left: 16px; }
  body .b21, body .b22 {
    width: 190px;
    font-weight: bold;
    font-size: 18px; }
  body .b1 {
    width: 396px;
    font-weight: bold;
    font-size: 18px; }
  body .rating {
    float: right; }
  body .rating p {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 12px;
    float: right; }
  body .rating img {
    width: 18px;
    height: 18px;
    margin-right: -5px; }
  body #play {
    width: 396px;
    height: 594px;
    background: url("../img/play_icon.png") no-repeat center center;
    position: relative;
    top: -594px;
    margin-bottom: -594px;
    display: none;
    cursor: pointer; }
  body .cover-film:hover #play {
    display: block; }
  body .bold {
    font-weight: bold; }
  body .italic {
    font-style: italic; }
  body .info-film h3 {
    font-size: 26px;
    font-weight: 400; }
  body .info-film p, body .info-film-p {
    font-size: 18px;
    padding-left: 10px; }
  body .info-film-p {
    position: relative;
    top: -1px;
    display: inline-block; }
  body .info-fiche-left {
    float: left; }
  body .info-fiche-right {
    float: right;
    padding-right: 50px; }
  body .info-film-price {
    margin-top: -12px; }
  body .info-film-img-price {
    position: relative;
    top: -1px; }
  body .info-film-text-price {
    left: -73px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
    margin-top: -10px; }
  body .list-genres-crew {
    background-color: #aaa;
    border-radius: 5px;
    padding: 3px 5px 3px 5px !important;
    color: #333;
    display: inline; }
  body .list-genre:hover {
    background-color: #333;
    text-decoration: none;
    color: #eee; }
  body #ba video {
    border: 2px solid #333;
    margin-bottom: 5px; }
  body .go-top {
    float: right;
    margin-top: -5px;
    margin-bottom: 5px; }
  body #slider {
    position: relative;
    overflow: hidden; }
  body #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none; }
  body #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 396px;
    height: 594px;
    background: #ccc;
    text-align: center;
    line-height: 300px; }
  body a.control_prev, body a.control_next {
    position: absolute;
    top: 45%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0;
    cursor: pointer; }
  body #slider:hover a {
    opacity: 0.5; }
  body #slider a {
    -webkit-transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none; }
  body a.control_prev:hover, body a.control_next:hover {
    opacity: 1 !important; }
  body a.control_prev {
    border-radius: 0 2px 2px 0; }
  body a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px; }
  body .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px; }
  body #nav-account-left {
    width: 36%;
    float: left;
    border-radius: 5px;
    border: 1px solid grey;
    background: -moz-linear-gradient(left, #cccccc 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cccccc), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(left, #cccccc 0%, #eeeeee 100%); }
  body #nav-account-left p:first-of-type {
    border-radius: 4px 4px 0px 0px; }
  body #nav-account-left p:last-of-type {
    border-radius: 0px 0px 4px 4px; }
  body #nav-account-left a {
    display: block;
    padding: 10px 10px 10px 35px;
    font-weight: bold;
    font-size: 16px;
    color: #333; }
  body #nav-account-left p {
    margin: 0;
    padding: 0; }
  body #nav-account-left a {
    background-image: url(../img/listarrow.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 12px 12px; }
  body #nav-account-left p:hover {
    background: -moz-linear-gradient(left, #a5a5a5 0%, #c6c6c6 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a5a5a5), color-stop(100%, #c6c6c6));
    background: -webkit-linear-gradient(left, #a5a5a5 0%, #c6c6c6 100%); }
  body .activated, body .activated:hover {
    background: -moz-linear-gradient(left, #62a53c 0%, #95c640 100%) !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #62a53c), color-stop(100%, #95c640)) !important;
    background: -webkit-linear-gradient(left, #62a53c 0%, #95c640 100%) !important; }
  body .box-right {
    width: 62%;
    border: 1px solid grey;
    float: right;
    border-radius: 5px;
    padding: 15px;
    background: #fafafa; }
  body .box-right h3 {
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    font-size: 30px;
    border-bottom: 1px solid #ccc; }
  body .box-right h3 img {
    margin-right: 10px;
    margin-top: -5px; }
  body #bottom {
    padding-top: 11px;
    clear: both; }
  body .go-top {
    float: right;
    margin-top: -5px;
    margin-bottom: 5px; }
  body .display-none {
    display: none; }
  body .box-right table {
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  body .box-right table, body .box-right tr, body .box-right td {
    padding: 3px; }
  body .box-right table, body .box-right tr, body .tr-solo td {
    border: 1px solid #777; }
  body #box-caddie tr td:nth-of-type(1) {
    width: 5%; }
  body #box-caddie tr td:nth-of-type(2) {
    width: 9%; }
  body #box-caddie tr td:nth-of-type(3) {
    width: 70%; }
  body #box-caddie tr td:nth-of-type(4) {
    width: 8%; }
  body #box-caddie tr td:nth-of-type(5) {
    width: 8%; }
  body .align-left {
    text-align: left !important;
    padding-left: 80px !important; }
  body .title-film-caddie {
    text-align: left !important;
    padding-left: 50px !important; }
  body .td-right {
    border-right: 1px solid #777; }
  body .b1r, body .float-right {
    float: right; }
  body .float-left {
    float: left; }
  body .clear-both {
    clear: both; }
  body span.affiche {
    outline: none; }
  body span.affiche:hover {
    text-decoration: none; }
  body span.affiche span {
    z-index: 10;
    display: none; }
  body span.affiche:hover span {
    display: inline;
    position: absolute;
    border: 2px solid #FFF;
    background: #333; }
  body .callout {
    z-index: 20;
    position: absolute;
    border: 0;
    top: -14px;
    left: 120px; }
  body span.affiche span {
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px #666; }
  body .affiche span img {
    width: 100px; }
  body .no-border-right {
    border-right: none !important; }
  body .button-delete {
    background: url(../img/delete.png) no-repeat;
    width: 20px;
    height: 17px;
    border: none;
    outline: none; }
  body .info-film li {
    list-style: none;
    margin: 0 0 15px 0; }
  body .box-film-product {
    border: 1px solid #bbb;
    padding: 15px;
    display: block;
    color: #333; }
  body .box-film-product:hover {
    background: #ddd;
    text-decoration: none; }
  body .info-film-img-reduc {
    display: block;
    position: relative;
    top: -63px;
    left: 150px; }
  body .info-film-reduc {
    display: block;
    position: relative;
    top: -112px;
    left: 150px;
    font-size: 12px;
    width: 55px;
    text-align: center;
    color: #457215;
    font-weight: bold; }
  body .box-film-product {
    border: 1px solid #bbb;
    padding: 15px;
    display: block; }
  body .box-film-product p {
    padding: 0; }
  body .box-film-product-overview {
    font-size: 14px !important;
    font-style: italic;
    margin-bottom: -5px; }
  body .box-film-product-title {
    font-size: 16px !important;
    font-weight: bold; }
  body .box-film-product-title img, body .box-film-product-rate img {
    position: relative;
    top: -2px; }
  body .box-film-product-time img {
    position: relative;
    top: -1px; }
  body .box-film-product-time {
    margin-right: 10px; }
  body .box-film-product img {
    margin-right: 5px; }
  body #lang_fr {
    margin-right: -15px; }
  body .lang-inactiv {
    opacity: 0.5; }

/*# sourceMappingURL=main.css.map */
