@charset 'UTF-8';

@import url('http://fonts.googleapis.com/css?family=Monoton');

.board404 {
    margin: -10px auto -20px;
    padding: 20px;
    font: 75px/75px Monoton, cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px green, 0 0 30px green, 0 0 6px DarkGreen;
    color: green;
    font-size: 50px;
}

#error404 {
    color: #fff;
    text-shadow: 0 0 80px #ffffff, 0 0 30px green, 0 0 6px green;
}

#title404 {
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 10px #ffffff;
    margin-top: -30px;
    word-spacing: 10px;
}

.well-black {
    background: #111;
}
