@charset 'UTF-8';

.utilityNav a {
    margin: 0 0 10px 0;
    padding: 5px 10px;
    display: block;	
    border: 2px solid #e3ca4b;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: black;
    background: #fff7aa top left repeat-x;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
.utilityNav a:hover {
    background-color: #fffce5;
    border-color: #d1b62c;
}
.utilityNav a:link:before,
.utilityNav a:visited:before {
    color: #ccae14;
    font-size: 9px;
    margin-bottom: 3px;
}

#map a {
    text-decoration: none;
}

.primaryNav a, .primaryNav p {
    margin: 0 0 20px 0;
    padding: 10px 0;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: black;	
    background: #c3eafb url('/images/slickmap/white-highlight.png') top left repeat-x;
    border: 2px solid #b5d9ea;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
    -moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */
}

.primaryNav a:hover {
    background-color: #e2f4fd;
    border-color: #97bdcf;
}

.sub {
    background-color: #cee3ac !important;
    border-color: #b8da83 !important;
    margin-bottom: 10px !important;
}

.sub:hover {
    border-color: #94b75f !important;
    background-color: #e7f1d7 !important;
}

.last-row {
    margin-top: 15px;
}

#msg-etoile {
    width: 100%;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
}